$white-color: #fff;
$black-color: #111827;
$dark-color: #363c48;
$yellow-color: #fdc21d;
$gray-color: #6b7280;
$orange-color: #555555;
$red-color: #f12f1e;
$green-color: #34d399;
$text-title-color: #1f2937;
$text-paragraph-color: #374151;
$border-color-light-gray-color: #4b556333;
